doctype html
head
  title Jumbotron Template for Bootstrap
  link(href='stylesheets/bootstrap.min.css' rel='stylesheet')
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  ul.navbar-nav.mr-auto
    li.nav-item.active
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='/about') About
    li.nav-item
      a.nav-link(href='/contact') Contact
main(role='main')
  .container
    block content
    hr
main
body
html